
.parallax-window1 {
    min-height: 730px;
    background: transparent;
}

.intro_height {
    padding-bottom: 5rem !important;
}

.parallax-window2 {
    min-height: 730px;
    background: transparent;
}

.number-font{
    font-family: 'sans-serif' !important;
}
